<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div class="wrapper" style="display: flex; align-items: center; justify-content: center;height: 100vh;">
    <div class="current-user">
        <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
        <p>email: {{currentUser.email}}</p>
        <p>password: {{currentUser.password}}</p>
        <p>age: {{currentUser.age}}</p>
        <p>city: {{currentUser.city}}</p>
    </div>
</div>
</body>
</html>